<!DOCTYPE html>

<html lang="en">
<head>
        <meta charset="utf-8">
        <title>Menus Catalog</title>
        <meta name="description" content="">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body class="menu-color-back">
        <div class="header-container">
                <h1 class="headers"><img id="logo" src="../static/img/burgerHeaderIcon.png"> Menu Catalog</h1>
        </div>
        <div id = "menu-main-content" class = "menu-container menu-color-for">
                <u>hello</u>hello
        </div>
</body>
</html>




