<!DOCTYPE html>

<html lang="en">
<head>
        <meta charset="utf-8">
        <title>Restaurants</title>
        <meta name="description" content="">
        <link rel="stylesheet" type="text/css" href="/static/css/app.css">
</head>
<body class="menu-color-back">

        <div class="header-container">

                <h1 class="headers"><img id="logo" src="/static/img/burgerHeaderIcon.png"> Menu Catalog</h1>

        </div>

        <div id = "menu-main-content" class = "menu-container menu-color-for">

            <div class="flash-message">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}

                        <ul style="padding:5px">
                            {% for message in messages %}
                                <strong>{{ message }}</strong>
                            {% endfor %}
                         </ul>

                    {% endif %}
                {% endwith %}
            </div>

            <div>
                <h1>Restaurants</h1><a class="button create" href ="{{url_for('newRestaurant')}}" >Create New Item </a>
            </div>

            {% for i in restaurants %}

            <div>
                <p style="padding-bottom: 20px"><a class="restaurant" href ="{{url_for('restaurantMenu', restaurant_id=i.id)}}" >{{i.name}}</a>
                <a class="button edit" href ="{{url_for('delRestaurant', name=i.name)}}" >Delete</a>
                <a class="button edit" href ="{{url_for('editRestaurantName', name=i.name)}}" >Edit</a></p>
            </div>

            {% endfor %}
        </div>

</body>

</html>
